$movie-item-thumb-height: 125px;
$movie-item-thumb-padding: 15px;

.TopNavBar {
  a {
    color: white;
    text-decoration: none;
    margin: 0 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.my-movies-filter-controls {
  margin-top: 10px;
  margin-left: $movie-item-thumb-padding - 8px;
}

.create-custom-tag-textfield {
  margin: 0 $movie-item-thumb-padding;
}

.MovieItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  
  .movie-item-thumb {
    box-sizing: content-box;
    height: $movie-item-thumb-height;
    padding: $movie-item-thumb-padding;
  }
  
  .movie-item-title {
    font-weight: bold;

  }
  
  .tag-selector-toggle, .delete-movie-button {
    margin-top: 8px;
  }
}

.MoviePage {

  h3 {
    font-size: 19px;
  }
  
  h4 {
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }

  h4, p {
    margin: 0 8px 20px 8px;
  }

  .movie-backdrop {
    width: 100vw;
  }

  .movie-header {
    display: flex;
    flex-flow: row;
  }

  .movie-poster {
    position: relative;
    top: -$movie-item-thumb-height / 2;
    left: $movie-item-thumb-padding;
    height: $movie-item-thumb-height;
  }

  .movie-title {
    display: inline;
    position: relative;
    top: 0;
    left: $movie-item-thumb-padding * 2.2;
  }

  .movie-crew, .movie-cast, .movie-recommendations {
    margin: 35px 0;
  }

  .movie-cast-list, movie-recommendation-list {
    overflow: scroll;
  }

}

.Divider {
  border: 1px solid #777;
  border-top: none;
  margin: 0 25px;
}

li.MuiListItem-container {
  list-style: none;
}