$movie-item-thumb-height: 120px;
$movie-item-thumb-padding: 15px;

.my-movies-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  
  .my-movies-filter-controls {
    margin-left: $movie-item-thumb-padding - 8px;
  }
  
  .create-custom-tag-textfield {
    margin-left: $movie-item-thumb-padding;
  }
}


.MovieItem {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  .movie-item-thumb {
    box-sizing: content-box;
    height: $movie-item-thumb-height;
    padding: $movie-item-thumb-padding;
  }

  .movie-item-title {
    font-weight: bold;
  }

  .tag-selector-toggle, .delete-movie-button {
    margin-top: 8px;
  }
}

.Divider {
  border: 1px solid #777;
  border-top: none;
  margin: 0 25px;
}