node_modules
npm-debug.log
.babelrc
.dockerignore
.gitignore
README.md
config.example
Dockerfile

client/node_modules
client/public
client/src
client/package.json
client/package-lock.json
client/README.md
client/tsconfig.json